:root {
--primary: darkgray;
--accent: #13293d;
}
.banner{
  margin-top: 20px;
  background-image: url("./images/valleyshot.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  color: white;
  padding: 6% 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.banner div {
  flex:0 0 90%;
  margin-bottom: 20px;
  color: white;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

h1 {
  font-size: 210%;
}

/* Add rest of the header text */
header h1::after {
  font-family: Impact;
  color: var(--primary);
  margin-left: 35px;
}
nav li::before,
nav li::after {
  color: #8ac4ff;
  padding: 1%;
  font-family: cursive;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

nav a, .contact{
  color: white;
  font-weight: bold;
}


.side-text {
  max-width: 105%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}


main {
  background-color: var(--accent);
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
body{
  margin: 0%;
  padding: 0%;
  line-height: 2;

}

.owls{
  background-image: url("../assets/images/2owlhead.JPG");
  width: 800px;
  height: 400px;
  }
.waterfowl {
  background-image: url("../assets/images/ducks.JPG");
  /* background-size: 1000px; */
  width: 400px; 
  height: 200px;
  
}
.mountains {
  background-image: url("../assets/images/mtfanny.jpg");
  width: 400px; 
  height: 200px;
}
.droneshots {
  background-image: url("../assets/images/orangesunset.jpg");
  width: 400px; 
  height: 200px;
}
.elk{
  background-image: url("../assets/images/elk.jpg");
  width: 400px; 
  height: 200px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: right;
  font-size: 20px;
}

.page-section {
    margin: 25px 0;
    padding:10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    color: white;
    
  }
.page-section h3 {
  flex:0 0 20%;
  text-align: right;
  padding-right: 15px;
  line-height: 1.1;  
  }

 .page-section h2 {
  flex:0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 10px solid var(--primary);
  line-height: 1.1;  
  }

.flex-container   {
  flex: 0 0 70%;
}
.flex.container  a {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
}
   
#inner-work div {
  flex: 0 0 23%;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 
.page-section  div span{
  flex: 0 0 70%;
  display: flex;
  flex-wrap: wrap;
} 
 .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .box {
  margin:15px;
  color:white;
  display: flex;
  align-items: flex-end;
  background-size: 100%;
  font-size:  25px;
} 



   /* The user's cursor is positioned over the element */ */
  .box:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: var(--accent) 100px;
    border: 2px black;
    transition: 1s all;
    color: #fff;
  }
  
   
  .box:active { 
    font-size: 10%;
    box-shadow: 0 0 10px #000 inset;
  } 
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  .box:focus {
    outline: none;
    border-color: var(--accent);
    color: orangered;
  } 
  .nav {
    display: flex;
     text-align: right;
    font-size: 30px;
  }
.contact {
  display: flex;
  align-items:flex-end;
  padding: 1%;
  background-color: var(--primary);
  color: #fff;
}
.bottom  {
display: flex;
flex-direction: row;
align-items: flex-end;
word-spacing: 100px;
color: #fff;
font: 40px;
}
#white-letters{
  color:#fff
}

@media screen and (max-width: 992px) {
  body{
    flex: 0 0 50%;
    max-width: 50%;
    background-color: black;
  }
}
@media screen and (max-width: 768px) {
  body{
    flex: 0 0 33.333%;
    max-width: 33.333%;
  background-color:var(--primary);
  }
}
