:root {
--primary: darkgray;
--accent: #13293d;
}
.banner{
margin-top: 20px;
background-image: url("../assets/images/valleyshot.jpg");
background-size: cover;
background-position: center;
background-blend-mode: soft-light;
color: var(--primary);
padding: 6% 10%;
display: flex;
justify-content: flex-end;
align-items: flex-end;
text-align: right;
}
.banner div {
  flex:0 0 90%; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

h1 {
  font-size: 210%;
}

/* Add rest of the header text */
header h1::after {
  font-family: Impact;
  color: var(--primary);
  margin-left: 35px;
}
nav li::before,
nav li::after {
  color: #8ac4ff;
  padding: 1%;
  font-family: cursive;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

nav a {
  color: white;
  font-weight: bold;
}







main{
  margin-top: 20px;
  margin-bottom: 45px;
}
body{
  margin: 0%;
  padding: 0%;
  line-height: 2;

}

  .owls{
    background-image: url("../assets/images/2owlhead.JPG");
    width: 1000px;
    height: 500px;
  }
.waterfowl {
  background-image: url("../assets/images/ducks.JPG");
  /* background-size: 1000px; */
  width: 500px; 
  height: 250px;

}
.mountains {
  background-image: url("../assets/images/mtfanny.jpg");
  width: 500px; 
  height: 250px;
}
.droneshots {
  background-image: url("../assets/images/orangesunset.jpg");
  width: 500px; 
  height: 250px;
}
.elk{
  background-image: url("../assets/images/elk.jpg");
  width: 500px; 
  height: 250px;
}
.page-section {
    margin: 25px 0;
    padding:10px 0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    
  }
  .page-section > h2 {
  flex:0 0 100%;
  text-align: right;
  padding-right: 15px;
  border-right: 10px solid var(--primary);
  line-height: 1.1;  
  }
.page-section > div {
  flex: 0 0 108%;
}
 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .box {
  margin:15px;
  color:white;
  display: flex;
  align-items: flex-end;
  background-size: 100%;
  font-size:  14px;
} 



   /* The user's cursor is positioned over the element */ */
   .box:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: var(--accent) 100px;
    color: #fff;
  }
  
   
    .box:active { 
    font-size: 10%;
    box-shadow: 0 0 10px #000 inset;
  } 
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  .box:focus {
    outline: none;
    border-color: var(--accent);
    color: aquamarine;
  } */ 
    /* .images header {
    padding: 20px;
  }
  
  .images p {
    text-align: center;
  }  */
  .nav {
    display: flex;
     text-align: right;
    font-size: 30px;
  }
  
@media screen and (max-width: 992px) {
  .page-section, .page-wrapper {
    width: 50%;
    background-color: black;
  }
  
  header {
    background: #772014;
  }
}
@media screen and (max-width: 768px) {
  .page-section, .page-wrapper {
    width: 100%;
    background-color: aqua;
  }
}